.container {
    width: 100%;
}

.header img {
    width: 100%;
    
    
}

.body {
    width: 80%;
    margin: auto;
}

.body-content {
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.body-left {
    background-color: rgb(202, 199, 199);
    border-radius: 15px;
    width: 15%;
    margin-top: 50px;
    
}

.body-left-content {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.body-left-content p {
    margin-top: 50px;
}

.body-left-content img {
    width: 90%;
    border-radius: 90px;
    margin-top: 20px;
}

.body-right {
    width: 80%;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 50px;
}

.body-right-content h1 {
    margin: auto;
    color: blue;
}

.body-right-content-1 {
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    padding: 0px 50px;
}

.body-right-content-1 img {
    margin: 10px 50px;
}

.body-right-content-2 {
    margin: 80px;
}

.body-right-content-2 button{
    border-radius: 20px;
    font-size: 20px;
    color: blue;
    width: 15%;
    height: 40px;
    font-weight: bold;
}

.body-right-content-3 {
    display: flex;
    justify-content: space-between;
    padding: 0px 250px;
}

.body-right-content-3 p{
    font-weight: bold;
   
}

.body-right-content-4, .body-right-content-5{
    display: flex;
    
}

.body-right-content-4 img, .body-right-content-5 img{
    width: 100%;
}



.box {
    width: 50%;
    padding: 30px;
    
}

button {
    border-radius: 20px;
    font-size: 20px;
    color: blue;
    width: 15%;
    height: 40px;
    font-weight: bold;
}
